<h1><%= @topic.name %></h1>
<p>
  <% if current_user.learning_language == "japanese" %>
    <%= @topic.content["eng"] %> <br>
  <% elsif current_user.learning_language == "english"%>
    <%= @topic.content["jpn"] %> <br>
  <% end %>
  <% @grammar_points.each do |grammar_point| %>
    <hr>
    <h3><%= grammar_point.title %> (Level: <%= grammar_point.level.capitalize %>)</h3>
    <h4>Explanation:</h4>
    <p><%= grammar_point.explanation %></p>
    <h4>Examples:</h4>
    <p><%= grammar_point.examples %></p>
  <% end %>
  <hr>
  <h3>Written Challenge</h3>


  <% if current_user.learning_language == "japanese" %>
    <%= @challenge.content["en"] %>
  <% elsif current_user.learning_language == "english" %>
    <%= @challenge.content["jp"] %>
  <% end %>
</p>
<%= link_to "Submit Written Challenge", new_challenge_journal_path(@challenge) %>

<div class="container mt-4">
  <h2>Journal entry</h2>
  <%= simple_form_for [@challenge, @journal] do |f| %>
    <%= f.input :content, as: :text, rows: 10, label: "Write your journal entry here:" %>
    <%= f.button :submit, "Submit entry", class: "btn btn-primary" %>
  <% end %>
</div>
